*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.text {
  margin: 20px 0;
  font-size: 28px;
  text-align: center;
}

.buttons-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100vw;
}

.button {
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  min-width: 65px;
  color: #fff;
}

.no {
  background-color: #ff0000;
}

.yes {
  background-color: #77dd77 !important;
}

